.WorkingGroups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  min-height: 100%;
}

.WorkingGroup {
  color: var(--primary);
  text-align: center;
  flex: 1 0 100%;
  padding: 3rem;
}

@media screen and (min-width: 600px) {
  .WorkingGroup {
    flex: 1 0 50%;
  }
}

@media screen and (min-width: 1000px) {
  .WorkingGroup {
    flex: 1 0 25%;
  }
}

.WorkingGroup .LazyImage {
  max-width: 100%;
}
