.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.HomePageHeader {
  background-color: var(--darkGrey);
  color: var(--primary);
  padding: clamp(10px, 5vh, 15rem) 0;
  height: 100%;
  background: white;
}

.HomePageHeader-large {
  padding: 20rem 0;
}

.HomePageHeader--Title {
  font-size: clamp(18px, 8vw, 70px);
  margin-bottom: 0;
  width: 55%;
}

.HomePageHeader--Subtitle {
  animation: fadeIn 2s;
  font-weight: 400;
  font-size: clamp(10px, 4vw, 30px);
  width: 55%;
}

.HomePageHeader .BackgroundImage {
  --slide-from: 100%;
  --slide-from-y: -50%;
  animation: slideIn 0.5s, fadeIn 2s;
  -webkit-animation: slideIn 0.3s, fadeIn 2s;
  position: absolute;
  left: 60%;
  right: 0;
  width: 40%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: transparent;
  z-index: 100;
}
